<div class="layout">
    <div class="title">
        <button class="arrows back" (click)="calendar.goBack()"></button>
        <div class="title-date">{{calendar.calendarDate.format('MMMM YYYY')}}</div>
        <button class="arrows forward" (click)="calendar.goForward()"></button>
    </div>
    <div class="row">
        <app-weather (startMatchDates)="calendar.mathWeatherWithDates($event)"></app-weather>
        <app-calendar #calendar (callOrganizer)="callOrganizer($event)"></app-calendar>
    </div>
    <app-notes #notes></app-notes>
</div>
